{% extends "base.html" %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
{% block title %} Gueltige Fahrten{% endblock %}

{% block heading %}
  <h2>Gültige Fahrten</h2>
{% endblock %}

{% block content %}
  <ul class="list-unstyled">
  {% for Fahrten in object_list %}
    <li class="well well-sm">{% include "Fahrten/Fahrt.html" %}</li>
  {% empty %}
    <li>Es gibt keine Fahrten an diesem Tag. :(</li>
  {% endfor %}
  </ul>
{% endblock %}
{% else %}
Sie sind nicht eingeloggt.
{% endif %}