{% extends "base.html" %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
{% block title %} Gueltige Fahrten{% endblock %}

{% block heading %}
  <h2>Gültige Fahrten am:
        <form class="navbar-form navbar-middle" role="form" action="{% url "Fahrten_user" %}"
            method="post" accept-charset="utf-8">
        <div class="form-group">
        <input type="date" placeholder="" value="{{ Datum }}" class="form-control" name="datum">
        </div>
            {% csrf_token %}
         <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Suchen
      </button>
        </form></h2>
    {% endblock %}

{% block content %}
  <ul class="list-styled">
  {% for Fahrten in object_list %}
    <li class="well well-sm">{% include "Fahrten/Fahrt_user.html" %}</li>
  {% empty %}
    <li>Es gibt keine Fahrten für Ihre Schulen an diesem Tag. :(</li>
  {% endfor %}
  </ul>
{% endblock %}
{% else %}
Sie sind nicht eingeloggt.
{% endif %}
